<h1>Welcome @ViewBag.newUser.Username</h1>
<a asp-controller="Spa" asp-action="Index">Return to the Services Menu</a>
<div style="position:absolute; bottom:4em">
    <p>@ViewBag.newUser.Email joined @ViewBag.newUser.Joined</p>
</div>